/Ejercicio02/build/
/Ejercicio04/Ejercicio04/nbproject/private/
/Ejercicio04/nbproject/private/
/Ejercicio04/build/
/Ejercicio07/nbproject/private/
/Ejercicio05/nbproject/private/
/Ejercicio06/nbproject/private/
/Ejercicio05/build/
/Ejercicio07/build/
/Ejercicio06/build/
/Ejercicio5/nbproject/private/
/Ejercicio5/build/
